import React from 'react'
import './{{pascalCase name}}.css';

export interface {{pascalCase name }}Props {

}

export const {{ pascalCase name }} = ({ }: {{ pascalCase name }}Props): JSX.Element => {
  return (
    <div>
      {{ pascalCase name }}
    </div>
  )
}